./scripts/globalProtect.sh
.env

# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea

# zcompile cached files
*.zwc

#nvim

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
