./scripts/globalProtect.sh
.env

# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea

# zcompile cached files
*.zwc

#nvim

**/lazy-lock.json
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Ignored config files
.config/eww/image.jpg
.config/opencode/bun.lock
.config/opencode/package.json
.config/eww/image.jpg.tmp
